@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

/********* COLORS *********/

:root {
  --color-primary: #1564bf;
  --color-secondary: #e3f2fd;
  --color3: #c79400;
  --color-footer: #003b8e;
  --color-almost-white: #f7fff7;
  --color-almost-black: #343434;
  --color-accent: var(--color3);
  --color-shadow: rgba(0, 0, 0, 0.226);
}

/* GENERAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  color: var(--color-almost-black);
}

header {
  background: var(--color-primary);
}

.projects {
  background: var(--color-secondary);
}

.skills {
  background: var(--color3);
}

footer {
  background: var(--color-footer);
}

.content-container {
  min-width: 240px;
  max-width: 900px;
  margin: auto;
  padding: 4rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  opacity: 0.95;
  text-shadow: 0 1px 2px var(--color-shadow);
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

a,
p {
  font-family: "Roboto Slab", serif;
}

strong {
  color: #5f5f5f;
}

p {
  line-height: 1.5rem;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

.btn {
  border-radius: 8px;
  color: var(--color-almost-white);
  font-size: 20px;
  background: var(--color-accent);
  border: solid var(--color-accent) 2px;
  padding: 10px 20px 10px 20px;
  margin-top: 2rem;
  text-decoration: none;
  box-shadow: 0 2px 2px var(--color-shadow);
  transition-duration: 100ms;
  transition-property: background-color, color;
  transition-timing-function: linear;
  align-self: flex-start;
}

.btn:hover {
  background: var(--color-almost-white);
  color: var(--color-accent);
  text-decoration: none;
}

.btn:active {
  box-shadow: 0 0 0 var(--color-almost-black);
}

/* HEADER */

header .content {
  color: var(--color-almost-white);
}

.joke {
  opacity: 0.6;
}

/* PROJECTS */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4rem 0;
  border-bottom: 1px dashed var(--color-almost-black);
}

.info {
  flex-basis: 60%;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.pic {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 35%;
  height: 400px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border: 1px solid var(--color-shadow);
  border-radius: 0.5em;
  background: white;
}

.projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

.projects .content {
  display: flex;
  flex-direction: column;
}

.projects article:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

/* FOOTER */

footer .content {
  color: white;
}

.contact-list {
  display: flex;
}

.contact-list li {
  display: flex;
  justify-content: baseline;
  padding: 1rem;
}

.contact {
  display: flex;
  justify-content: center;
}

.txt {
  opacity: 0.8;
  align-self: center;
}

.contact i {
  color: var(--color-accent);
}

.contact-list li a {
  font-weight: 500;
  color: var(--color-secondary);
}

.contact-list li:nth-child(1) {
  padding-left: 0;
}

.i-size {
  font-size: 1.8rem;
  margin-right: 0.8rem;
}

/* QUERIES */

@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .pic {
    flex-basis: 100%;
    height: 400px;
    margin-right: 0;
  }

  header .content {
    text-align: center;
  }

  footer .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-list li {
    padding-left: 0;
  }
}
