/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;500&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

/********* COLORS *********/

:root {
  --color-primary: #b6eb7a;
  --almost-white-primary: #f7f7ee;
  --color3: #fb7813;
  --color4: #17706e;
  --color-almost-white: #f7fff7;
  --color-almost-black: #343434;
}

/********* GENERAL STYLES *********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Roboto", sans-serif;
  color: var(--color-almost-black);
  display: grid;
  grid-template-rows: auto auto auto;
}

.bg-header {
  background: var(--color-primary);
  grid-row-start: 1;
  grid-row-end: 2;
}

.bg-main {
  grid-row-start: 2;
  grid-row-end: 3;
}

.bg-footer {
  background: var(--color4);
  grid-row-start: 3;
  grid-row-end: 4;
}

.bg-projects {
  background: var(--almost-white-primary);
}

.bg-skills {
  background: var(--color3);
}

.h-center-content {
  display: grid;
  grid-template-columns: auto minmax(auto, 900px) auto;
  padding: 3rem 2rem;
}

header {
  grid-column-start: 2;
  grid-column-end: 3;
}

main {
  grid-column-start: 2;
  grid-column-end: 3;
}

footer {
  grid-column-start: 2;
  grid-column-end: 3;
}

.skills {
  grid-column-start: 2;
  grid-column-end: 3;
}

.projects {
  grid-column-start: 2;
  grid-column-end: 3;
}

/********* DEFAULT STYLES *********/

h1,
h2,
h3 {
  font-family: "Comfortaa", cursive;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  line-height: 2rem;
  font-family: "Roboto Slab", serif;
}

a {
  color: var(--color3);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  color: var(--color4);
}

img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: top left;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.btn {
  border-radius: 8px;
  color: var(--color-almost-white);
  font-size: 20px;
  background: var(--color-primary);
  padding: 10px 20px 10px 20px;
  border: solid var(--color-primary) 2px;
  text-decoration: none;
  align-self: start;
  margin-top: 2rem;
}

.btn:hover {
  background: var(--color-almost-white);
  color: var(--color-primary);
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto minmax(auto, 900px) auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/********* HEADER STYLES *********/

header {
  margin: 4rem 0;
}

header h1 {
  margin-bottom: 2rem;
}

header h3 {
  margin-bottom: 0.5rem;
}

h3 em {
  font-weight: 400;
}

.bio {
  margin-top: 2rem;
}

/********* PROJECT STYLES *********/

.divider {
  border-bottom: 1px dashed var(--color-almost-black);
  padding: 2rem 0;
}

.divider img {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.divider:last-of-type {
  border-bottom: none;
}

.description {
  display: flex;
  flex-direction: column;
}

.description h3 {
  margin-bottom: 1rem;
}

/********* SKILLS STYLES *********/

/*********FOOTER STYLES*********/

footer {
  color: var(--color-almost-white);
}

.contact-list {
  display: flex;
}

.contact-list li {
  padding: 1rem;
  color: var(--color3);
}

.contact-list li a {
  font-weight: 600;
}

.contact-list li:nth-child(1) {
  padding-left: 0;
}

.i-size {
  color: var(--color-almost-white);
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

footer li {
  display: flex;
  justify-content: baseline;
}

/*********QUERIES STYLES*********/

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  img {
    width: 260px;
    height: 350px;
  }
}
